/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	padding: 10px 20px;
}

.navbar {
	display: flex;
}

li {
	margin: 1px;
	padding: 0;
	list-style-type: none;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */